body {
  overflow-y: auto;
  margin-top: 20px;
}

.data {
  display: flex;
  justify-content: space-evenly;
}

.headers {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.balance,
.income,
.expense {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 20px;
  padding: 15px 40px 15px 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: 5px 5px 17px #c8c8c8, -5px -5px 17px #ffffff;
  width: calc(20vw - 40px);
  height: 5vh;
}

.balance {
  background-color: rgba(53, 162, 235, 0.8);
  border: 2px solid rgb(53, 162, 235);
}

.income {
  background-color: rgba(75, 192, 192, 0.8);
  border: 2px solid rgb(75, 192, 192);
}

.expense {
  background-color: rgb(255, 99, 132, 0.8);
  border: 2px solid rgb(255, 99, 132);
}

.headers label {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(80vw - 40px);
  height: 80vh;
  padding: 20px;
  margin: 20px;
}

.piContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(40vw - 40px);
  height: 70vh;
  margin: 20px;
}
